<!-- start of header component -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand links">{{Config.html.heading}}</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a [routerLink]="['/user/chat']" class="links">{{Config.html.chat}}</a>&nbsp;&nbsp;&nbsp;&nbsp;
      </li>
      <li class="nav-item">
         <a [routerLink]="['/user/editprofile']" class="links">{{Config.html.edit}}</a>&nbsp;&nbsp;&nbsp;&nbsp;
      </li>  
       <li class="nav-item">
         <a class="links logout" (click)="logout()" >{{Config.html.logout}}</a>
      </li> 
    </ul>
  </div> 
     <!-- name of user -->
     
<p class="pull-right" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
     
      {{Config.html.greeting}} {{initialCharacter}}!!

   </p>
</nav>
<!-- end of header component -->