img {
	height:50px;
	margin-left:2.5%;
	margin-top:1%;
}
.nav-link {
	font-size:18px;
	margin-top:2%;
} 
hr {
	margin-top:0.5%;
	margin-bottom:-3%;
}
h3{
	font-family: Comic Sans MS;
	color:#fff;
	font-size: 32px;
	margin-bottom: 3%;
	margin-left: 2%;
}
p{
	color:#fff;
	font-size: 17px;
	margin-top: 3.5%;
}
.navbar-light{
background-color: #375372;
}