.bg-dark {
    background-color: #375372 !important;
}
.unanswed{
  font-family: 'Harmattan', sans-serif;

}
.navbar-brand {
    font-size: 33px;
}
.pull-right {
    margin-bottom:-0.1%;
}
a.logo{
    font-family: Comic Sans MS;
    color:white;
    
    font-size: 32px;
}
p{
    color:#fff;
    font-size:20px;    
}
a{
    color:white;
    cursor:pointer;
}
a.links {
    text-align:center;
    color:white;
    text-decoration:none;
}
a.links:hover {
    color: white;
}
.logout {
    margin-top:170%;
}
@media (min-width: 320px) and (max-width: 767px) {
    p{
        display:none !important;
    }
    .navbar-toggler {
        margin-left:55%;
    }
}
@media (min-width: 360px) and (max-width: 640px) {
    .navbar-brand[_ngcontent-c1] {
        font-family: Comic Sans MS;
        font-size: 30px;
    }
}
@media (min-width: 320px) and (max-width: 568px) {
    .navbar-brand[_ngcontent-c1] {
        font-family: Comic Sans MS;
        font-size: 24px;
    }
    
}