.bg-dark {
	background-color: #375372 !important;
}
.navbar-brand {
	  font-family: Comic Sans MS; 
    font-size: 32px;
}
.pull-right {
	margin-bottom:-0.1%;
}

a.logo{
	font-family: Comic Sans MS;
	color:white;
	
	font-size: 32px;
}
p{
	color:#fff;
	font-size: 17px;	
}

a{
	color:white;
	cursor:pointer;
}
a.links {
	text-align:center;
	color:white;
	text-decoration:none;
}
a.links:hover {
	color: white;
}
.logout {
	margin-top:170%;
}

@media (min-width: 320px) and (max-width: 767px) {
p{
  display:none !important;
}

.navbar-toggler {
	margin-left:55%;
}

 }

