.main{
	margin-top:4%;
}

.btn {
    line-height:1;
    margin-bottom:2%;
    padding: 3px 6px;
}
.btn.btn-block {
    width:100%;  
}
.dropdown-item {
    padding: 3px 10px;
}
.sidebar{
	margin-top:30px;
	margin-left: 80px;
}

select.form-control:not([size]):not([multiple]) {
 height: calc(3.3rem + 0px);
}
.btn.btn-primary {
  background-color: #375372;
}


#top{
	margin-top: 30px;
}

.form {
	margin-right:50%;
}

>>>>>>> 93be0e0cb457a7e5242f9fb7c78a4646a4652c8e
