<div class="container">
<div class="row">
	<div class="col-lg-6">
		<h3>Add Follow Up</h3>
	</div>
</div>
<div class="row">
  <div class=" col-lg-12">
    <div class="input-group">
      <input type="text" class="form-control" [(ngModel)]="flowname" placeholder="Product name">
      <span class="input-group-btn">
        <button class="btn btn-secondary" (click)="follow(flowname)" type="button">Add Follow</button>
      </span>
    </div>
  </div>
</div>
<br>
<div class="row">
	<div class="col-md-12">
		<div class="card" *ngFor="let main of item">
  <div class="card-block">
    <h4 class="card-title">{{main.task}}</h4>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <a class="card-link" (click)="addconfig(main.task)">New</a>
    <a (click)="editconfig(main.task)" class="card-link">Edit</a>
  </div>
</div>
	</div>
</div>
</div>