<!-- Preeti Singh
22/10/2017 -->


<!-- page that is redirected when clicked on forgot password mail -->
<!-- <div class="login-page" [@routerTransition]>
  <br><br>
  <h2 class="head">{{Config.setpassword.title}}</h2>
  <br>
  <div class="row">
    <div class="col-md-6 push-md-3">
      <div class="card main">
        <div class="card-block">
          <h3 class="sign">{{Config.setpassword.PasswordSign}}</h3>
          <br>
          <form role="form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="form-group"> -->
             <!--  Enter New password -->
             <!--  <input  [(ngModel)]="ref.password" id="newPass" name={{Config.setpassword.name}} placeholder={{Config.setpassword.placeholderPass}} class="form-control pass"  type="password" required pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{5,}$" #password="ngModel">
              <div [hidden]="password.valid || password.pristine" class="message">
                <div [hidden]="!password.hasError('minlength')">{{Config.setpassword.passValidationCharacter}}
                </div>
                <div [hidden]="!password.hasError('required')"> {{Config.setpassword.passValidationRequire}}
                </div>
                <div [hidden]="!password.hasError('pattern')">{{Config.setpassword.passValidationUpper}}
                </div>
              </div>
            </div>
            <div class="form-group"> -->
               <!-- Enter Confirm Password -->
            <!--   <input  [(ngModel)]="ref.confirmpassword" id="confPass" name={{Config.setpassword.confirmPassName}} placeholder={{Config.setpassword.confirmPassPlaceholder}} class="form-control pass"  type="password" required #confirmPassword="ngModel">   
            </div>
            <p style="color: red">{{error}}</p> -->
            <!-- Submit Button -->
           <!--  <button id="setpass" class="btn btn-block btn-primary" [disabled]="!loginForm.form.valid" (click)="setPassword(ref)" >{{Config.setpassword.link}}</button>
          </form>  
        </div>
      </div>  
    </div>
  </div>
</div> -->

<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <h1>{{Config.setpassword.PasswordSign}}</h1>
              <div class="input-group mb-3">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input [(ngModel)]="ref.password" id="newPass" name={{Config.setpassword.name}} placeholder={{Config.setpassword.placeholderPass}}  type="password" required pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{5,}$" #password="ngModel" >
              </div>
              <div class="input-group mb-4">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input [(ngModel)]="ref.confirmpassword" id="confPass" name={{Config.setpassword.confirmPassName}} placeholder={{Config.setpassword.confirmPassPlaceholder}} type="password" required #confirmPassword="ngModel" >
              </div>
              <div class="row">
                <div class="col-6">
                  <button id="setpass" class="btn btn-primary" (click)="setPassword(ref)">{{Config.setpassword.link}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
