.bg-dark {
background-color: #375372 !important;
}
.navbar-brand {
font-family: Comic Sans MS; 
font-size: 32px;
}
.pull-right {
margin-bottom:-0.1%;
margin-right:5%;
}

p{
color:#fff;
font-size: 17px;	
}



a.links {
 text-align:center;
 color:white;
 text-decoration:none;
}
a.links:hover {
	color: white;
}


@media (min-width: 320px) and (max-width: 767px) {
p{
display:none !important;

}

.navbar-toggler {
margin-left:55%;
}

}

