<!-- Preeti Singh
  22/10/2017 -->

<!-- <div class="login-page" [@routerTransition]><br><br>
	<h2 class="head">{{Config.forgotpassword.firstname}}</h2>
	<div class="row">
		<div class="col-md-6 push-md-3">
			<div class="card main">
				<div class="card-block">
					<h3 class="sign">{{Config.forgotpassword.reset}}</h3>
					<br>
					<form role="form"> -->
						<!-- Input tag for email -->
						<!-- <input id="email" [(ngModel)]="email" name={Config.forgotpassword.email}} placeholder={{Config.forgotpassword.placeholder}} class="form-control myemail"  type={{Config.forgotpassword.email}}>  -->
						<!-- warning for empty fields -->     
						<!-- <div  *ngIf="alert==1" class="alert alert-danger" role="alert">
							<strong>{{Config.alert.warning}}</strong>{{Config.alert.message}}
						</div> 
						<a class="btn btn-block btn-primary" id="forgot-btn" (click)="forgotPassword(email)" >{{Config.forgotpassword.mail}}</a>
						<a id="links" class="accbutton wid float-right" [routerLink]="['/']">Go to Login page &gt;&gt;</a>
						<br>
					</form>
				</div>
			</div>  
		</div>
	</div>
</div> -->


<!-- start of the html file -->
<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group">
          <div class="card p-4">
            <div class="card-body">
              <!-- heading --> 
              <h1>{{Config.forgotpassword.reset}}</h1>
              
              <div class="input-group mb-4">
               <!--  Enter email -->
               <span class="input-group-addon"><i class="icon-lock"></i></span>
               <input id="email" [(ngModel)]="email" name={Config.forgotpassword.email}} placeholder={{Config.forgotpassword.placeholder}} class="form-control myemail"  type={{Config.forgotpassword.email}} >
             </div>
             <!--  alert messages -->
             <div  *ngIf="alert==1" class="alert alert-danger" role="alert">
               <strong>{{Config.alert.warning}}</strong>{{Config.alert.message}}
             </div>
             <div class="row">
              <div class="col-md-6">
                <!-- Button -->
                <button type="button" class="btn btn-primary px-4" (click)="forgotPassword(email)">{{Config.forgotpassword.mail}}</button>
              </div>
              <div class="col-md-6 text-right">
                <!-- button to go to login page -->
                <a [routerLink]="['/']" class="btn btn-link px-0" >{{Config.forgotpassword.GoTo}} &gt;&gt;</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
